// @use "reset";
@use "font";
@use "colours";

/*----NAVIGATION----*/

/*----------main nav styles----------*/

.nav {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 10rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    animation: nav 1.5s ease-in-out 1.25s 1 normal backwards;

    &-logo {
        height: 10rem;
        width: 10rem;
    }
}

@keyframes nav {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-15rem);
    }
}

/*--------------------------------------*/
/* Acts as btn & contains hamburger     */
/*--------------------------------------*/

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 1.7em;
    right: 1em;
    cursor: pointer;
}

/*--------------------------------------*/
/*   Styles the hamburger for btn       */
/*--------------------------------------*/

.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: #00b3b3;
    height: 3px;
    width: 1.75em;
    border-radius: 2px;
    transition: all ease-in-out 500ms;
}

/*--------------------------------------*/
/* Instance of hamburger (top line)     */
/*--------------------------------------*/

.hamburger::before {
    transform: translateY(-7px);
}

/*--------------------------------------*/
/* Instance of hamburger bottom line    */
/*--------------------------------------*/

.hamburger::after {
    transform: translateY(4px);
}

/*--------------------------------------*/
/* When Nav menu is open, hamburger = X */
/*--------------------------------------*/

.open .hamburger {
    transform: rotate(45deg);
    background: #ffc299;
}

/*--------------------------------------*/
/* Before hamburger line is invisible   */
/*--------------------------------------*/
.open .hamburger::before {
    opacity: 0;
}

/*--------------------------------------*/
/* Animates after line to create an X   */
/*--------------------------------------*/
.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
    background: #ffc299;
}

/*--------------------------------------*/
/*    For Device (Screens > 700px )     */
/*--------------------------------------*/
@media (min-width: 700px) {
    .menu-toggle {
        /* Removes hamburger menu */
        display: none;
    }

    .site-nav {
        /* Positions site nav & removes background color */
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        font-weight: 300;
    }

    .site-nav li {
        /* inline-block and removes border from bottom */
        display: inline-block;
        border: none;
    }

    .site-nav a {
        /* Adds spacing between Nav links */
        padding: 0;
        margin-left: 3em;
    }

    .site-nav a:hover,      /* Makes link background transparent on hover */
    .site-nav a:focus {
        /* Changes font color to light blue */
        background: transparent;
        font-weight: 800;
        color: #00b3b3;
    }

    .site-nav .site-nav-icon {
        /* Removes Font Awesome Icons for larger screens */
        display: none;
    }
}
